
  body {
  font-family: "Syne",sans-serif;
  background: #0f1323;
  color: white;
  min-height: 100vh;
}

#app {
  max-width: 900px;
  margin: 0 auto;
  min-height: 100vh;
  padding-bottom: 88px;
}

/*navigation*/
.bottom-nav {
  position: fixed; 
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%);
  width: 100%; 
  max-width: 800px;
  background: rgba(20,24,36,0.92);
  display: flex;
  padding: 6px 0 10px;
}
.nav-btn {
  flex: 1;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  gap: 3px;
  cursor: pointer; 
  padding: 6px 0;
}

.nav-icon { 
  font-size: 20px; 
  line-height: 1; 
}
.nav-label { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 10px; 
  font-weight: 500; 
  color: white; 
}


.nav-btn.active .nav-label { 
  color:#00c896; 
}



/*index page*/
.header { 
  display: flex; 
  justify-content: space-between; 
  padding: 20px 20px 15px; 
}
.logo {
  font-family: 'Syne', sans-serif; 
  font-size: 25px; 
  font-weight: 800;
  color: #00c896;
}
.live-dot { 
  display: inline-block; 
  width: 7px; 
  height: 7px; 
  background: #00c896; 
  border-radius: 50%;
  margin-right: 5px; 
}


.hero { 
  margin: 0 16px 16px; 
  background-color: #044234;
  border-radius: 20px; 
  padding: 20px;

}
.hero-tag {
   font-size: 10px; 
   font-weight: 500; 
   letter-spacing: 1px; 
   text-transform: uppercase; 
   color: #00c896; 
   margin-bottom: 6px; 

  }
.hero-amount { 
  font-family: Arial; 
  font-size: 45px; 
  font-weight: 800; 
  color:white; 
  margin-bottom: 6px; 

}
.hero-sub { 
  font-size: 13px; 
  color:white; 
  margin-bottom: 18px;
 }
.hero-bar-bg { 
  background:grey; 
  border-radius: 8px; 
  height: 8px; 
  margin-bottom: 6px; 
}
.hero-bar-fill { 
  height: 8px; 
  border-radius: 8px; 
  background-color: #00c896; 
}



.budget-pills { 
  display: flex; 
  gap: 8px;
  margin: 0 16px 20px; 
  overflow-x: auto; 
}

.b-pill {
  padding: 8px 14px; 
  border-radius: 50px; 
  display: flex; 
  align-items: center; 
  gap: 7px; 
  font-size: 13px; 
  font-weight: 500; 
  background-color: #1E2235;
 }
.b-pill-dot { 
  width: 10px; 
  height: 10px; 
  border-radius: 50%; 
}
.b-pill-name { 
  color: white; 
}
.b-pill-val  { 
  color: white; 
  font-weight: 600; 
  font-family: 'Syne', sans-serif;
 }

.section-head { 
  display:flex;
  justify-content: space-between;
  font-family: 'Syne', sans-serif;
  padding: 4px 20px 10px; 
}

.section-link { 
  font-size: 12px; 
  color: #00c896; 
  font-weight: 500; 
}




.cat-grid { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  gap: 12px; 
  padding: 0 16px 8px; 
}
.cat-card { 
  background-color: #1E2235;
  border-radius: 10px; 
  padding: 16px; 
}

.cat-icon-wrap { 
  width: 40px; 
  height: 40px; 
  border-radius: 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 19px; 
  margin-bottom: 12px; 
}
.cat-name  { 
  font-size: 12px; 
  color: white; 
  margin-bottom: 3px; 
  font-weight: 500;
 }
.cat-amt   { 
  font-family: 'Syne', sans-serif; 
  font-size: 20px; 
  font-weight: 700; 
  color:white;
 }
.mini-bar  { 
  height: 4px; 
  border-radius: 4px; 
  background-color: gray; 
  margin-top: 10px; 
}
.mini-fill { 
  height: 4px; 
  border-radius: 4px; 
}



.chart-card { 
  margin: 12px 16px; 
  background-color: #1E2235; 
  border-radius: 10px; 
  padding: 18px 16px 14px; 
}
.chart-title {
  font-family: 'Syne', sans-serif; 
  font-size: 14px;
  font-weight: 700;
  color: white;
  margin-bottom: 18px;
}
.bar-chart { 
  display: flex; 
  gap: 6px; 
  height: 150px; 
 }
.bar-col { 
  flex-grow: 1; 
  display: flex; 
  flex-direction: column; 
  gap: 6px; 
 }
.bar-wrap { 
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
}
.bar { 
  width: 100%; 
  border-radius: 5px; 
  position: relative; 
  overflow: hidden; 
  cursor: pointer; 
 }
.bar:hover { 
  transform: scaleY(1.05); 
} 
.bar-day  { 
  font-size: 11px; 
  color: white; 
  font-weight: 500; 
}


.hbar-chart { 
  padding: 10px;
}
.hbar-row { 
  padding: 10px;
}
.hbar-head { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

.hbar-bg    { 
  height: 10px; 
  background-color: grey; 
  border-radius: 8px; 
}
.hbar-fill  { 
  height: 10px; 
  border-radius: 8px; 
  
}




.txn-list { 
  padding: 0 16px 8px; 
  gap: 2px; 
}
.txn-item { 
  display: flex; 
  gap: 12px; 
  padding: 12px 14px; 
  border-radius: 5px;
}
.txn-item:hover {
  background-color: #1E2235; 
}
.txn-dot { 
  width: 42px; 
  height: 42px; 
  border-radius: 10px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 19px; 
}
.txn-info { flex-grow: 1; }
.txn-name { 
  font-size: 14px; 
  font-weight: 500; 
  color: white; 
}
.txn-time { 
  font-size: 12px; 
  color: white; 
  margin-top: 2px; 
}
.txn-amt  { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 15px; 
  font-weight: 700; 
  color: white; 
}



.date-group { 
  padding: 12px;
}


/* Add Screen */
.add-hero { 
  text-align: center; 
  padding:25px; 
}
.add-prompt { 
  font-size: 13px; 
  color: white; 
  margin-bottom: 12px; 
}
.amount-display { 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  gap: 4px; 
  margin-bottom: 6px; 
}
.rupee-sign { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 35px; 
  font-weight: 700; 
  color: white; 
   margin-top: 10px; 
   text-align: center;
  }
.amount-big {
   font-size: 56px; 
   font-weight: 800; 
  background-color:#0f1323;
  border: none;
  text-align: center;
  width: 20%;
  color: white;

  }


.pill-row { 
  display: flex; 
  gap: 8px; 
  padding: 0 16px 20px; 
}

.cat-pill { 
  padding: 15px; 
  border-radius: 50px; 
  font-size: 13px; 
  font-weight: 600; 
  color: white; 
  background-color: #1E2235; 
  cursor: pointer; 
}


.field { 
  margin: 0 16px 12px; 
  background: #1E2235; 
  border-radius: 10px; 
  padding: 15px; 
  display: flex; 
  gap: 10px; 
}

.field input { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 14px; 
  color: white; 
  background: transparent; 
  border: none;
  flex-grow: 1; 
}

.save-btn { 
  margin: 20px;
  background: #00c896;
  border-radius: 10px; 
  border: none;
  padding: 16px; 
  width: 400px;
  color: #1E2235; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 20px; 
  font-weight: 800; 
  cursor: pointer; 
  
}

/* Budget Screen */
.budget-hero { 
  margin: 16px 16px 20px; 
  background-color: #1E2235; 
  border-radius: 10px; 
  padding: 20px; 
}
.budget-lbl { 
  font-size: 12px; 
  color: white; 
  font-weight: 600; 
  text-transform: uppercase; 
  margin-bottom: 8px; 
}
.budget-input-wrap { 
  display: flex; 
  align-items: center; 
  gap: 8px; 
  border-radius: 10px; 
  padding: 14px 16px; 
  border: 1px solid;
  margin-bottom: 12px; 
}

.budget-input { 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 24px; 
  width: 100%;
  font-weight: 800; 
  color: white; 
  background: transparent; 
  border: none; 
  outline: none; 
}
.budget-save { 
  background-color:#00c896; 
  border: none; 
  border-radius: 10px; 
  padding: 14px; 
  width: 100%; 
  color: #1E2235; 
  font-family: 'Syne',sans-serif; 
  font-size: 15px; 
  font-weight: 800; 
  cursor: pointer; 
}
.budget-info { 
  padding: 12px 16px; 
  margin-top: 12px; 
  font-size: 13px; 
  color: #00c896; 

}
.cat-budget-list {
   padding: 0 16px 16px; 
   display: flex; 
   flex-direction: column; 
   gap: 10px; 
  }
.cat-bud-card { 
  background: #1E2235; 
  border-radius: 10px; 
  padding: 14px 16px;  
  display: flex; 
  align-items: center; 
  gap: 12px; 
}
.cat-bud-icon { 
  width: 38px; 
  height: 38px; 
  border-radius: 12px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  font-size: 18px; 
}
.cat-bud-info { 
  flex-grow: 1; 
}
.cat-bud-name { 
  font-size: 14px;
   font-weight: 600; 
   color: white; 
  }
.cat-bud-input-wrap { 
  display: flex; 
  align-items: center; 
  background: #252A3E; 
  border-radius: 8px; 
  padding: 8px 10px;  
}

.cat-bud-input { 
  color:white; 
  background: transparent; 
  border: none; 
  width: 64px; 
  text-align: right; 
}

/* Report Screen */
.report-summary { 
  margin: 16px; 
  background-color: #1E2235; 
  border-radius: 10px; 
  padding: 20px; 
  text-align: center; 
}

.report-total { 
  font-size: 36px; 
  font-weight: 800; 
  padding: 10px;
  
}
.report-saved { 
  color: #00c896; 
  font-weight: 600; 
}
.breakdown-card { 
  margin: 12px 16px; 
  background-color: #1E2235; 
  border-radius: 10px; 
  padding: 16px; 
}
.bk-row { 
  display: flex; 
  align-items: center; 
  gap: 10px; 
  padding: 8px 0; 
  border-bottom: 1px solid gray;
 }
.bk-row:last-child { 
  border-bottom: none; 
}
.bk-dot { 
  width: 10px; 
  height: 10px; 
  border-radius: 50%; 
   
}
.bk-name { 
  flex-grow: 1; 
}
.bk-pct  { 
  font-size: 12px; 
  color:grey; 
  text-align: right; 
}
.share-btn { 
  margin: 20px; 
  padding: 20px; 
  background: transparent; 
  border: 1.5px solid #00c896; 
  border-radius: 10px; 
  color: #00c896; 
  font-family:"Syne",sans-serif; 
  font-size: 18px; 
  font-weight: 700; 
  cursor: pointer; 
}


.cat-pill.active{
    background-color: black;
    color: white;
}